@import "../../../assets/style";

.modal {
  display: none;

  &_isVisible {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba($color-black, 0.5);
    z-index: 4;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 24px;
    background-color: rgba($color-white, 0.98);
    border-radius: 12px;
    @extend %extend-fadeInAnimation;

    @media (max-width: 445px) {
      padding: nth($paddings, 4);
    }
  }

  &_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &_headerTitle {
    color: $color-close-3;
    font-size: nth($font-sizes, 4);
    font-weight: 700;
  }

  &_headerDescr {
    width: 300px;
    text-align: center;
    font-size: nth($font-sizes, 2);
    font-weight: 400;
  }

  &_btnClose,
  &_btnOk {
    cursor: pointer;
    border-radius: 8px;
    margin: 0 4px;
    font-size: nth($font-sizes, 2);
    transition: $transition;
    border: $input-border;
    @extend %extend-input;
  }

  &_btnOk {
    padding: 8px 20px;
    background: $color-close-1;

    &:hover {
      background: $color-close-2;
    }
  }

  &_btnClose {
    padding: 8px 16px;
    background: $color-blue-1;

    &:hover {
      background: $color-blue-2;
    }
  }
}
