@import "../../assets/style";

.button {
  padding: 8px 12px;
  border-radius: 8px;
  // background-color: rgba($color: #fff, $alpha: 0.2);
  color: $color-cyan-1;
  font-weight: 800;
  cursor: pointer;
  transition: 0.2s all;
  user-select: none;
  &:hover {
    color: white;
    background-color: rgba($color: #fff, $alpha: 0.3);
  }
  &:active {
    background-color: rgba($color: #fff, $alpha: 0.1);
    transform: scale(0.9);
  }
}
