@import '../../assets/style';

.addBtn {
  cursor: pointer;
  margin-top: nth($margins, 4);
  font-weight: nth($font-weights, 2);
  font-size: nth($font-sizes, 2);
  color: $color-orange-2;
  user-select: none;
  white-space: nowrap;
}