@import "../../../assets/style/";

.buttonsRow {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 26px;
  @media (max-width: 767px) {
    margin-top: 0;
    margin-right: 26px;
  }
  @media (max-width: 480px) {
    margin-right: 8px;
    gap: 18px;
  }
}
