@import "../../assets/style";

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  gap: nth($gaps, 1);
  margin: -5px 0 -5px 0;
  background: $color-mainDark;
  box-shadow: 5px 2px 7px 1px rgba(0, 0, 0, 0.3);

  @media (max-width: 767px) {
    display: none;
  }
}
