@import "../../assets/style";
.panel {
  background: $color-mainDark;
  box-shadow: 5px 2px 7px 1px rgba(0, 0, 0, 0.3);
  padding: 12px 12px 18px 12px;
  margin: -5px 0 -5px 0;
  border-radius: 8px;
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 0px;
    padding: 6px 12px;
    z-index: 4;
  }

  &_right {
    @media (max-width: 767px) {
      display: flex;
      gap: 12px;
    }
  }

  &_categories {
    display: block;
    @media (max-width: 767px) {
      display: none;
    }
  }

  &_practice {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: $color-orange-2;
    border-radius: 8px;
    z-index: 3;
  }
}

.burger {
  display: none;
  @media (max-width: 767px) {
    display: block;
    position: relative;
    width: 40px;
  }
  &_icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
  }
}

.burgerMenu {
  display: none;
  &_active {
    display: flex;
    position: fixed;
    inset: 0 0 0 0;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    backdrop-filter: blur(12px);
    background-color: rgba(black, $alpha: 0.8);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 5;
  }
}
