@import '../../assets/style';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-radius: nth($border-radiuses, 2);
  gap: nth($gaps, 1);
}