.logo {
  font-size: 46px;
  color: #2944c2;
  font-weight: 900;
  background: -webkit-linear-gradient(#3a6bff, #7e26ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  @media (max-width: 365px) {
    font-size: 36px;
  }
}
