@import '../../assets/style';

.wrapper {
  max-width: $mainPage-max-width;
  padding: nth($paddings, 5) * 1.5;
  margin: nth($margins, 4) auto;
  border-radius: nth($border-radiuses, 3);
  background-color: $color-white;
}