@import '../../assets/style';

.cardWrapper {
  height: $card-wrapper-height;
  perspective: $card-wrapper-perspective;
}

.card,
.cardTranslate {
  display: flex;
  justify-content: space-between;
  position: absolute;
  inset: 0px 0px 0px 0px;
  padding: 8px;
  border-radius: nth($border-radiuses, 2);
  backface-visibility: hidden;
  transition: $card-transition;
  font-size: nth($font-sizes, 4);
  border: $input-border;
  font-weight: nth($font-weights, 2);

  &_wordValue,
  &_translateValue {
    flex-grow: 1;
    background: none;
    border: none;
    font-size: nth($font-sizes, 4);
    color: $color-black;
    @extend %extend-text-ellipsis;
    @extend %extend-input;

    &::placeholder {
      font-size: nth($font-sizes, 3);
      color: $color-blue-2;
    }
  }

  &_translateValue {
    &::placeholder {
      font-size: nth($font-sizes, 3);
      color: $color-orange-3;
    }
  }

  &_btnsWrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card {
  background: $color-blue-1;
  border: 2px solid $color-blue-2;

  &_active {
    @extend .card;
    transform: rotateY(180deg);
  }
}

.cardTranslate {
  background: $color-orange-1;
  transform: rotateY(180deg);

  &:focus {
    border: 4px solid $color-orange-2;
  }

  &::placeholder {
    color: $color-orange-2;
  }

  &_active {
    @extend .cardTranslate;
    transform: rotateY(360deg);
  }
}

.btns {

  &_front {
    transition: all $transition;
    color: $color-cyan-2;

    &:hover {
      color: $color-blue-3;
      transform: scale(1.1);
    }
  }

  &_back {
    transition: all $transition;
    color: $color-orange-3;

    &:hover {
      color: $color-orange-3;
      transform: scale(1.1);
    }
  }

}