@import "../../../assets/style";

.input {
  width: $modal-input-width;
  background: $color-cyan-1;
  font-size: nth($font-sizes, 3);
  color: $color-black;
  padding: nth($paddings, 3);
  border-radius: nth($border-radiuses, 1);
  border: $input-border;
  transition: $transition;
  @extend %extend-input;

  &:focus {
    border: 4px solid $color-orange-1;
  }

  &::placeholder {
    font-size: nth($font-sizes, 2);
    color: $color-blue-2;
  }

  @media (max-width: 445px) {
    width: $modal-input-width * 0.9;
    font-size: nth($font-sizes, 2);
  }
}
