@import "../../assets/style";

.burgerIcon {
  display: none;

  &_segment {
    width: 30px;
    height: 3px;
    border-radius: 1px;
    background-color: $color-cyan-1;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      border-radius: 1px;
      background-color: $color-cyan-1;
      left: 0;
      z-index: 9;
    }
    &::before {
      top: 8px;
    }
    &::after {
      bottom: 8px;
    }
  }

  @media (max-width: 744px) {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 18px;
    right: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}

.burgerMenu {
  display: none;
  &_active {
    display: flex;
    position: fixed;
    inset: 0 0 0 0;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: $color-mainDark;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 9;
  }
  @media (max-width: 992px) {
  }
}
