@import '../../../assets/style';

.upArrow {
  margin-bottom: nth($margins, 3);
  cursor: pointer;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
  }

  &_inactive {
    @extend .upArrow;
    cursor: auto;
  }
}