@import "../../assets/style";

.categoryTitle {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: $transition;
  user-select: none;

  &_input {
    width: 300px;
    text-align: right;
    font-weight: nth($font-weights, 2);
    font-size: nth($font-sizes, 5) * 1.2;
    background: none;
    border: none;
    color: $color-cyan-1;
    margin-right: 12px;
    @extend %extend-text-ellipsis;
    @extend %extend-input;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.btn {
  color: rgba($color-cyan-1, $alpha: 0.5);
  transition: all $transition;

  &:hover {
    color: rgba($color-orange-1, $alpha: 0.8);
  }
}
