* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  background: linear-gradient(180deg, #285cf3, #7e26ed);
  min-height: 100vh;
  padding: 24px 12px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

@media (max-width: 767px) {
  body {
    min-height: 100vh;
    padding: 0;
    background: linear-gradient(180deg, #163592, #7e26ed);
  }
}
